Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @QuantumKeyUYU, @DocMaintainers, @DevSecOpsTeam

.github/CODEOWNERS:

src/** @QuantumKeyUYU
tests/** @QuantumKeyUYU
docs/** @QuantumKeyUYU @DocMaintainers
.github/workflows/** @DevSecOpsTeam

fix: release.sh is executable for CI
  scripts/release.sh
Owners: none

fix: pragma no cover for Windows sparse block
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

fix: переписан zilfs.py для кроссплатформенности и CI
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

style: autoformat zilfs.py (black/ruff/isort)
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

fix: autoformat after ruff/black/isort, fix imports
  audit-ledger.jsonl
Owners: none

fix: cross-platform support for _winapi stub and zilfs improvements
  _winapi.py
  audit-ledger.jsonl
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @QuantumKeyUYU

fix: cross-platform support for _winapi stub and zilfs improvements
  _winapi.py
Owners: none

fix: swallow tmp cleanup errors and retain sparse file size in PAX tar
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

Restore test stubs and docs
  CHANGELOG.md
  _winapi.py
  docs/requirements.txt
  landscape.py
  security_compliance_report.md
Owners: @QuantumKeyUYU, @DocMaintainers

fix: minimal CONTRIBUTING.md for test coverage
  CONTRIBUTING.md
Owners: none
