Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @QuantumKeyUYU/security, @QuantumKeyUYU, @DocMaintainers, @DevSecOpsTeam

.github/CODEOWNERS:

src/zilant_prime_core/** @QuantumKeyUYU/security
src/** @QuantumKeyUYU
tests/** @QuantumKeyUYU
docs/** @QuantumKeyUYU @DocMaintainers
.github/workflows/** @DevSecOpsTeam

Fix tests imports for non-Windows
  src/container.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
  tests/test_decoy_gen_full.py
  tests/test_vdf_property.py
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @QuantumKeyUYU

Skip Windows-specific zilfs tests when winapi missing
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @QuantumKeyUYU

Format and cleanup
  src/audit_ledger.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/utils/decoy.py
  src/zilant_prime_core/zilfs.py
  tests/test_vdf_property.py
Owners: @QuantumKeyUYU

fix(ci): address lint and test setup
  .pre-commit-config.yaml
  CHANGELOG.md
  conftest.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/decoy_gen.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/zilfs.py
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @QuantumKeyUYU

fix(ci): final pre-commit & wizard fixes
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/utils/recovery.py
Owners: @QuantumKeyUYU

fix(ci): resolve container imports and wizard prompt
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

WIP: save before rebase
  audit-ledger.jsonl
  src/zilant_prime_core/zilfs.py
  tests/test_container_pq_meta.py
Owners: @QuantumKeyUYU

Fix no-any-return in _patched_copyfile2
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

Fix extractall and add _winapi stub
  _winapi.py
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

fix: extractall duplication, add _winapi stub, fix fake_stat signature
  _winapi.py
  tests/test_decoy_gen_full.py
Owners: @QuantumKeyUYU

Fix: добавить методы unlink, mkdir, flush и т.д. в ZilantFS
  src/zilant_prime_core/zilfs.py
Owners: @QuantumKeyUYU

Полный код, исправления тестов и покрытие 100%
  _winapi.py
  audit-ledger.jsonl
  hypothesis.ini
  src/zilant_prime_core/zilfs.py
  tests/test_decoy_gen_full.py
  tests/test_pack_unpack_fuzz.py
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @QuantumKeyUYU

Fix: заменил generate_proof на generate_posw в timelock и тестах
  .github/workflows/ci.yml
  audit-ledger.jsonl
  src/timelock.py
  src/vdf.py
  tests/test_timelock.py
Owners: @DevSecOpsTeam, @QuantumKeyUYU

Fix: исправлены ошибки с путями и функциями в timelock, zilfs и тестах
  audit-ledger.jsonl
  src/timelock.py
  tests/test_vdf_property.py
  tests/test_zilfs.py
Owners: @QuantumKeyUYU

Мой комментарий к коммиту
  audit-ledger.jsonl
  requirements.txt
Owners: none

Updated dependencies and installed correct version
  .github/workflows/ci.yml
  .github/workflows/zilant-ci.yml
  audit-ledger.jsonl
Owners: @DevSecOpsTeam

Fix VDF wrappers and Windows path handling
  src/zilant_prime_core/vdf/__init__.py
  src/zilant_prime_core/zilfs.py
  tests/test_vdf_property.py
Owners: @QuantumKeyUYU

Fix property VDF tests and Windows pack_dir_stream
  src/zilant_prime_core/vdf/__init__.py
  src/zilant_prime_core/zilfs.py
  tests/test_vdf_property.py
Owners: @QuantumKeyUYU

Fix VDF wrappers and streaming path handling
  src/streaming_aead.py
  src/zilant_prime_core/vdf/__init__.py
  src/zilant_prime_core/zilfs.py
  tests/test_vdf_property.py
  tests/test_zilfs.py
Owners: @QuantumKeyUYU
