Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @observability-team, @ui-team, @docs-team, @qa-team

style: fix formatting
  .github/workflows/fuse.yml
  CHANGELOG_AUTO.md
  README.md
  pyproject.toml
  tests/test_wormhole_e2e.py
Owners: @qa-team

chore: update changelog
  .github/workflows/fuse.yml
  CHANGELOG_AUTO.md
  README.md
  docs/Makefile
  docs/guides/zilantfs.md
  pyproject.toml
  src/zilant_prime_core/cli.py
  tests/test_pack_unpack_fuzz.py
  tests/test_signature_property.py
  tests/test_vdf_property.py
  tests/test_wizard.py
Owners: @docs-team, @qa-team

docs: pin deps and add linkcheck step
  .github/workflows/fuse.yml
  CHANGELOG_AUTO.md
  docs/conf.py
  docs/guides/zilantfs.md
  docs/requirements.txt
  pyproject.toml
Owners: @docs-team

fix: update version constant
  src/zilant_prime_core/__init__.py
Owners: none

docs: enable Git LFS & slim history
  .gitattributes
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cosign-sign-artifacts.yml
  .github/workflows/crypto-threat-model.yml
  .github/workflows/dead-code-scan.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-autogen.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/fuse.yml
  .github/workflows/fuzz.yml
  .github/workflows/import-graph.yml
  .github/workflows/lfs-integrity.yml
  .github/workflows/license-audit.yml
  .github/workflows/lint-docs.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/python-security.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-compliance-suite.yml
  .github/workflows/snap-flatpak.yml
  .github/workflows/static-analysis.yml
  .github/workflows/todo-scan.yml
  .github/workflows/ui-build.yml
  .github/workflows/zilant-ci.yml
  CHANGELOG.md
  CHANGELOG_AUTO.md
  CONTRIBUTING.md
  README.md
  docs/conf.py
  pyproject.toml
  src/zilant_prime_core/__init__.py
Owners: @docs-team

infra: unify ci workflows
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/fuse.yml
  .github/workflows/lfs-integrity.yml
  .github/workflows/quality.yml
  .github/workflows/reusable/pytest.yml
  .github/workflows/zilant-ci.yml
  CHANGELOG.md
  CHANGELOG_AUTO.md
  CONTRIBUTING.md
  README.md
  commitlint.config.cjs
  pyproject.toml
  src/zilant_prime_core/__init__.py
  tests/test_wormhole_e2e.py
Owners: @qa-team

ci: allow infra commit type and fix wizard deps
  .github/workflows/fuse.yml
  commitlint.config.cjs
  pyproject.toml
  tests/test_wizard.py
Owners: @qa-team

ci(wormhole): use correct relay image
  .github/workflows/fuse.yml
Owners: none

chore(ci): polish workflows and docs
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/cosign-sign-artifacts.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/fuse.yml
  .github/workflows/lfs-integrity.yml
  .github/workflows/packaging.yml
  .github/workflows/secret-scan.yml
  CHANGELOG.md
  README.md
  docs/_linkcheck_ignore.txt
  gitleaks.baseline
  packaging/innosetup/setup.iss
  pyproject.toml
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/cli.py
Owners: @docs-team

ci: polish docs and lint config
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/fuse.yml
  README.md
  pyproject.toml
  src/zilant_prime_core/utils/__init__.py
  tests/test_audit_log.py
  tests/test_semgrep_rules.py
Owners: @qa-team

ci(docs): fix offline linkcheck
  .github/workflows/fuse.yml
Owners: none

ci: fix secret scan and wormhole deps
  .github/workflows/fuse.yml
  .github/workflows/secret-scan.yml
Owners: none

ci: fix secret scan and install test deps
  .github/workflows/fuse.yml
  .github/workflows/secret-scan.yml
Owners: none

ci(wizard): fix docs linkcheck setup
  .github/workflows/fuse.yml
Owners: none

ci: flatten reusable workflow
  .github/workflows/ci.yml
  .github/workflows/pytest.yml
Owners: none

ci: fix workflows and semgrep
  .github/workflows/ci.yml
  .github/workflows/fuse.yml
  .github/workflows/pytest-reusable.yml
  .github/workflows/secret-scan.yml
  .semgrep/custom/click-prompt-insecure.yml
  .semgrep/custom/requests-timeout.yml
  tests/test_wormhole_e2e.py
Owners: @qa-team

ci: fix workflow references and dependencies
  .github/workflows/ci.yml
  .github/workflows/fuse.yml
  requirements.txt
Owners: none

ci: fix dependency extras and drop py 3.13
  .github/workflows/ci.yml
  .github/workflows/fuse.yml
  .github/workflows/pytest-reusable.yml
  pyproject.toml
  requirements-dev.txt
Owners: none

ci(infra): fix hooks and wormhole entry
  .github/workflows/fuse.yml
  .github/workflows/pytest-reusable.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/config.py
  src/zilant_prime_core/cli/wormhole.py
  tests/test_semgrep_rules.py
Owners: @qa-team

chore: drop platform key from fuzz hook
  pyproject.toml
  requirements-dev.txt
Owners: none

ci: green windows builds
  .github/workflows/fuse.yml
  .github/workflows/pytest-reusable.yml
  pyproject.toml
  src/zilant_prime_core/bench_zfs.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/cli_wormhole.py
  src/zilant_prime_core/utils/fs.py
  src/zilant_prime_core/zilfs.py
  tests/test_bench.py
Owners: @qa-team

fix(ci): skip fifo tests on Windows and pass reactor
  pyproject.toml
  src/zilant_prime_core/cli_wormhole.py
  tests/test_zilfs_stream_big.py
  tests/test_zstr_header.py
Owners: @qa-team

fix(windows): fallback to non-stream pack and bypass wormhole code validation
  src/zilant_prime_core/cli_wormhole.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix(cli): allow non-numeric wormhole codes
  src/zilant_prime_core/cli_wormhole.py
Owners: none

test(wormhole): use numeric code and update semgrep action
  .github/workflows/static-analysis.yml
  tests/test_wormhole_e2e.py
Owners: @qa-team

ci: pin semgrep action and handle wormhole receive
  .github/workflows/static-analysis.yml
  src/zilant_prime_core/cli_wormhole.py
Owners: none

ci: fix semgrep workflow and wizard import
  .github/workflows/static-analysis.yml
  pyproject.toml
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
Owners: none

fix: wizard import path for CI
  src/zilant_prime_core/cli.py
Owners: none

fix: guard PQAEAD import
  .github/workflows/ci.yml
  .github/workflows/pytest-reusable.yml
  src/container.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/utils/anti_snapshot.py
  src/zilant_prime_core/utils/counter.py
  src/zilant_prime_core/utils/decoy.py
  src/zilant_prime_core/utils/device_fp.py
  src/zilant_prime_core/utils/device_fp_fallback.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: export crypto hash and adjust imports
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/crypto_core.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/utils/device_fp.py
  src/zilant_prime_core/utils/device_fp_fallback.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: export container pack and hash_sha3, update ruff hook
  .pre-commit-config.yaml
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/self_heal/heal.py
Owners: none

fix: export pack_file and logger aliases
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: remove cli import to avoid circulars
  src/zilant_prime_core/__init__.py
Owners: none

ci: fix pack_file export, logger imports, CHANGELOG
  CHANGELOG.md
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: stub container fallback and logger imports
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: alias get_logger imports
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: stub kdf import and logger alias
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/utils/pq_crypto.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: handle missing filelock and logging imports
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/utils/self_watchdog.py
  src/zilant_prime_core/zilfs.py
Owners: none

style: format container stubs
  CHANGELOG.md
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
Owners: none

Fix tests and static analysis
  mypy.ini
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/container/__init__.py
  src/zilant_prime_core/utils/recovery.py
  src/zilant_prime_core/zilfs.py
Owners: none

CODEOWNERS:

# Core
/src/zilant/ @core-team
/src/zilant/metrics.py @observability-team

# GUI
/ui/ @ui-team

# Docs & tests
/docs/ @docs-team
/tests/ @qa-team
