Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @observability-team, @ui-team, @docs-team, @qa-team

Fix workflows and dependencies
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/ui-build.yml
  .gitignore
  .semgrep/custom/rules.yml
  docs/devops.rst
  docs/index.rst
  pyproject.toml
Owners: @docs-team

Fix CI deps and docs
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/lint-docs.yml
  .github/workflows/quality.yml
  .github/workflows/static-analysis.yml
  .github/workflows/ui-build.yml
  .github/workflows/zilant-ci.yml
  .semgrep.yml
  README.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Owners: none

Fix workflows and extras
  .github/workflows/quality.yml
  .github/workflows/static-analysis.yml
  pyproject.toml
  tests/windows_smoke_test.bat
Owners: @qa-team

Ignore lock files
  .gitignore
Owners: none

Fix extras and CLI version option
  pyproject.toml
  src/zilant_prime_core/cli.py
Owners: none

Fix extras list order
  pyproject.toml
Owners: none

Fix TOML parsing + correct Semgrep args
  .github/workflows/static-analysis.yml
Owners: none

Update OTLP dependencies
  pyproject.toml
  requirements-dev.txt
Owners: none

feat(cli): add hsm management group
  src/zilant_prime_core/cli.py
  tests/test_cli_hsm.py
Owners: @qa-team

Add HSM CLI tests and improve status output
  src/zilant_prime_core/cli.py
  tests/test_cli_hsm.py
  tests/test_hsm_cli.py
Owners: @qa-team

docs: describe hsm cli
  README.md
Owners: none

docs: add hsm cli reference
  docs/ARCH.md
Owners: @docs-team

docs: outline pseudo-hsm threat model
  docs/THREATS.md
Owners: @docs-team

Add zilctl console entry
  setup.py
Owners: none

test: verify hsm commands in help
  src/zilant_prime_core/cli.py
  tests/test_cli_help.py
Owners: @qa-team

Fix CI quality workflow
  .github/workflows/quality.yml
Owners: none

Remove SARIF output from Semgrep
  .github/workflows/static-analysis.yml
Owners: none

build: add wheel build step
  .github/workflows/quality.yml
Owners: none

Fix wheel upload path
  .github/workflows/quality.yml
Owners: none

Add OPAQUE auth commands and doc
  README.md
  src/zilant_prime_core/cli.py
Owners: none

Add OPAQUE client placeholder
  src/zilant_prime_core/utils/pq_crypto.py
Owners: none

ci: add PyPI publish workflow
  .github/workflows/publish-pypi.yml
Owners: none

Add post-quantum signing utilities
  README.md
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/utils/pq_sign.py
Owners: none

Add PQ signing tests
  tests/test_pq_sign.py
Owners: @qa-team

refactor: remove unused imports from pq_sign tests
  tests/test_pq_sign.py
Owners: @qa-team

Add OPAQUE auth module and CLI
  README.md
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/utils/auth.py
  tests/test_auth.py
Owners: @qa-team

Skip OPAQUE auth tests when oqs absent
  tests/test_auth.py
Owners: @qa-team

hash password in opaque auth
  src/zilant_prime_core/utils/auth.py
Owners: none

Use Argon2 for credential hashing
  src/zilant_prime_core/utils/auth.py
Owners: none

Add SBOM workflow and docs
  .github/workflows/sbom.yml
  .gitignore
  docs/ARCH.md
  sbom/.gitkeep
Owners: @docs-team

Add experimental quantum anonymity modules
  README.md
  docs/ANONYMITY.md
  docs/QUANTUM_SECURITY.md
  src/zilant_prime_core/utils/__init__.py
  src/zilant_prime_core/utils/qal.py
  src/zilant_prime_core/utils/qema.py
  src/zilant_prime_core/utils/qssa.py
  src/zilant_prime_core/utils/quantum_ra.py
  src/zilant_prime_core/utils/qvpn.py
  src/zilant_prime_core/utils/zkqp.py
  tests/test_qal.py
  tests/test_qema.py
  tests/test_qssa.py
  tests/test_quantum_ra.py
  tests/test_qvpn.py
  tests/test_zkqp.py
Owners: @docs-team, @qa-team

Fix quantum utils lint
  src/zilant_prime_core/utils/__init__.py
  src/zilant_prime_core/utils/qal.py
  src/zilant_prime_core/utils/qssa.py
Owners: none

Expand quantum docs and tests
  README.md
  docs/ANONYMITY.md
  docs/QUANTUM_SECURITY.md
  tests/test_qal.py
Owners: @docs-team, @qa-team

Improve quantum utils
  README.md
  docs/ANONYMITY.md
  docs/QUANTUM_SECURITY.md
  src/zilant_prime_core/utils/qal.py
  src/zilant_prime_core/utils/qssa.py
  src/zilant_prime_core/utils/qvpn.py
  tests/test_qal.py
  tests/test_qssa.py
  tests/test_qvpn.py
Owners: @docs-team, @qa-team

Add post-quantum ring signature module
  docs/QUANTUM_SECURITY.md
  requirements.txt
  setup.py
  src/zilant_prime_core/utils/__init__.py
  src/zilant_prime_core/utils/pq_ring.py
  src/zilant_prime_core/utils/pq_sign.py
  src/zilant_prime_core/utils/qvpn.py
  tests/test_pq_ring.py
Owners: @docs-team, @qa-team

Format utils and tests
  src/zilant_prime_core/utils/qal.py
  src/zilant_prime_core/utils/qssa.py
  tests/test_qvpn.py
Owners: @qa-team

Use temporary file when verifying QAL
  src/zilant_prime_core/utils/qal.py
Owners: none

streaming_aead: achieve 100% test coverage, refactor for clarity, improve edge-case detection
  src/streaming_aead.py
  tests/test_auth_enhanced.py
  tests/test_cli_commands_enhanced.py
  tests/test_pq_crypto_enhanced.py
  tests/test_pq_ring_additional.py
  tests/test_pq_sign_additional.py
  tests/test_pq_sign_import_logic.py
  tests/test_qssa_enhanced.py
  tests/test_qvpn_enhanced.py
  tests/test_resume_decrypt_invalid_root_tag.py
  tests/test_streaming_aead_edge.py
  tests/test_streaming_aead_enhanced.py
  tests/test_streaming_aead_fullcov.py
  tests/test_streaming_aead_mac_tree.py
  tests/test_streaming_aead_misc.py
  tests/test_streaming_aead_root_tag.py
Owners: @qa-team

Добавить статическую диаграмму угроз
  docs/assets/threat_diagram.svg
Owners: @docs-team

Fix formatting via pre-commit
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/vault-rotate-app-token.yml
  docs/THREATS.md
  docs/THREATS.rst
  docs/_static/key_lifecycle.svg
  docs/api/autogen.rst
  docs/api/pq_ring.rst
  docs/api/qal.rst
  docs/api/qvpn.rst
  docs/api/zkqp.rst
  docs/architecture/index.rst
  docs/assets/threat_diagram.svg
  docs/conf.py
  docs/guides/ring_signature_example.rst
  docs/guides/tor_proxy_qvpn.rst
  docs/index.rst
  docs/threats.mmd
  important_files_and_code.txt
  src/zilant_prime_core/utils/auth.py
  src/zilant_prime_core/utils/honeyfile.py
  src/zilant_prime_core/utils/pq_ring.py
  src/zilant_prime_core/utils/qal.py
  tests/test_honeyfile_tmp_scan.py
  tests/test_qal_temp_cleanup.py
Owners: @docs-team, @qa-team

CODEOWNERS:

# Core
/src/zilant/ @core-team
/src/zilant/metrics.py @observability-team

# GUI
/ui/ @ui-team

# Docs & tests
/docs/ @docs-team
/tests/ @qa-team
