Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @observability-team, @ui-team, @docs-team, @qa-team

fix: cross-platform support for _winapi stub and zilfs improvements
  _winapi.py
Owners: none

fix: swallow tmp cleanup errors and retain sparse file size in PAX tar
  src/zilant_prime_core/zilfs.py
Owners: none

Restore test stubs and docs
  CHANGELOG.md
  _winapi.py
  docs/requirements.txt
  landscape.py
  security_compliance_report.md
Owners: @docs-team

fix: minimal CONTRIBUTING.md for test coverage
  CONTRIBUTING.md
Owners: none

fix: trigger CI and executable bit
  scripts/release.sh
Owners: none

fix: chmod release.sh in publish workflows
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish-pypi.yml
Owners: none

chore: fix EOL for release.sh by pre-commit
  scripts/release.sh
Owners: none

Fix imports and test issues in tray.py
  .zilant_log.1
  CHANGELOG.md
  audit-ledger.jsonl
  src/config.py
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/tray.py
  tests/test_container_pq_meta.py
Owners: @qa-team

WIP: сохраняю все локальные изменения
  .gitignore
  .zilant_log.1
  .zilant_log.3
  audit-ledger.jsonl
  pytest
  src/zilant_prime_core/self_heal/monitor.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
  tests/test_monitor (2).py
  tests/test_monitor.py
  tests/test_tray_full.py
  tests/test_tray_missing_pyside.py
  tests/test_tray_paths.py
  tests/test_tray_pyside_available.py
  tests/test_tray_stub.py
  tests/test_tray_updated.py
Owners: @qa-team

Fix tests and add stubs
  _winapi.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/tray.py
  tests/test_decoy_gen_full.py
  tests/test_tray_missing_pyside.py
  tests/test_tray_pyside_available.py
  tests/test_vdf_property.py
  tests/test_zilfs.py
Owners: @qa-team

Fix lint errors and mypy, update changelog
  CHANGELOG.md
  _winapi.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
  tests/test_vdf_property.py
Owners: @qa-team

Add coverage-friendly notifier test
  CHANGELOG.md
Owners: none

Skip semgrep tests when binary missing
  CHANGELOG.md
  tests/test_semgrep_rules.py
Owners: @qa-team

Skip semgrep tests offline
  CHANGELOG.md
  tests/test_semgrep_rules.py
Owners: @qa-team

Update changelog for tests
  CHANGELOG.md
Owners: none

Remove duplicate landscape module
  landscape.py
  src/landscape.py
Owners: none

Fix Docker build without poetry.lock
  Dockerfile
Owners: none

Fix: Настройка окружения для прохождения тестов
  audit-ledger.jsonl
Owners: none

docs: Final update to changelog
  CHANGELOG.md
Owners: none

fixed metadata heal_level logic, all tests green
  .txt
  audit-ledger.jsonl
  requirements.txt
Owners: none

fix: cast copyfile2 result to int
  src/zilant_prime_core/zilfs.py
Owners: none

ignore no-any-return in zilfs.py for CI tests
  src/zilant_prime_core/zilfs.py
Owners: none

fix: cast CopyFile2 return in zilfs
  src/zilant_prime_core/zilfs.py
Owners: none

ignore no-any-return in zilfs.copyfile2 for mypy
  src/zilant_prime_core/zilfs.py
Owners: none

stub _winapi and PySide6.QtWidgets for CI tests
  PySide6/QtWidgets.py
  PySide6/__init__.py
  _winapi.py
Owners: none

Stub _winapi/PySide6 + tray.py fix + test patches
  audit-ledger.jsonl
  src/zilant_prime_core/tray.py
  tests/test_decoy_gen_full.py
  tests/test_zilfs_missing_lines.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
Owners: @qa-team

CI: fix tray tests, silence Bandit B202, bump crypto libs
  requirements.txt
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: style, typing, lint, tests passed
  audit-ledger.jsonl
  requirements.txt
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/zilfs.py
  tests/test_zilfs_cov.py
Owners: @qa-team

fix(zilfs): resolve mypy typing errors and improve file-like object
  src/zilant_prime_core/zilfs.py
Owners: none

fix(ci): resolve tar slip vulnerability and platform-specific test
  src/zilant_prime_core/zilfs.py
Owners: none

fix(ci): resolve security and platform-specific test issues
  src/zilant_prime_core/zilfs.py
Owners: none

fix(ci): resolve security and platform-specific test issues
  src/zilant_prime_core/zilfs.py
Owners: none

fix(ci): resolve tar slip and platform-specific test
  src/zilant_prime_core/zilfs.py
Owners: none

Update test_zilfs.py
  tests/test_zilfs.py
Owners: @qa-team

Update zilfs.py
  src/zilant_prime_core/zilfs.py
Owners: none

fix: apply all pending CI fixes
  audit-ledger.jsonl
  src/zilant_prime_core/zilfs.py
Owners: none

fix(ci): final fix for security, tests and mypy
  audit-ledger.jsonl
  src/zilant_prime_core/zilfs.py
  tests/test_zilfs.py
Owners: @qa-team

fix: resolve all CI issues (security, tests, mypy)
  src/zilant_prime_core/zilfs.py
Owners: none

fix: force overwrite of zilfs modules with all fixes
  src/zilant_prime_core/zilfs.py
Owners: none

fix: semgrep rules, decoy_gen, vdf, тесты, автозамена
  .semgrep.yml
  .semgrep/custom/click-prompt-insecure.yml
  .semgrep/custom/container-same-path.yml
  .semgrep/custom/insecure-hash.yml
  .semgrep/custom/no-shell-true.yml
  .semgrep/custom/pq-key-none.yml
  .semgrep/custom/requests-timeout.yml
  .semgrep/custom/vdf-invalid-steps.yml
  audit-ledger.jsonl
  src/zilant_prime_core/decoy_gen.py
  src/zilant_prime_core/vdf/vdf.py
  src/zilant_prime_core/zilfs.py
Owners: none

CODEOWNERS:

# Core
/src/zilant/ @core-team
/src/zilant/metrics.py @observability-team

# GUI
/ui/ @ui-team

# Docs & tests
/docs/ @docs-team
/tests/ @qa-team
