Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @observability-team, @ui-team, @docs-team, @qa-team

ci: move ruff ignore to [tool.ruff.lint]
  pyproject.toml
Owners: none

ci: move ruff ignore to [tool.ruff.lint]
  pyproject.toml
Owners: none

fix(unpack): cast nonce to bytes, mypy clean
  .pre-commit-config.yaml
  docs/Makefile
  docs/_static/key_lifecycle.svg
  docs/guides/tor_proxy_qvpn.rst
  pyproject.toml
  src/container.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/cli_commands.py
  src/zilant_prime_core/container/unpack.py
  src/zilant_prime_core/utils/logging.py
  src/zilant_prime_core/utils/secure_logging.py
  src/zilant_prime_core/utils/vault_client.py
  tests/test_aead_more.py
  tests/test_cli_commands_enhanced.py
  tests/test_cli_error_branches.py
  tests/test_cli_errors.py
  tests/test_cli_extra_branches.py
  tests/test_cli_output.py
  tests/test_cli_shard.py
  tests/test_cli_vault_key.py
  tests/test_device_fp_exceptions.py
  tests/test_full_coverage_extra.py
  tests/test_pq_sig_sphincs.py
  tests/test_qvpn_enhanced.py
  tests/test_timelock.py
  tests/test_vdf_property.py
  tests/test_watchdog_hash_and_zeroize.py
Owners: @docs-team, @qa-team

fix: …
  .github/workflows/quality.yml
  docs/Makefile
  pyproject.toml
Owners: @docs-team

docs: add full threat model and index toctree
  docs/THREATS.rst
  docs/index.rst
Owners: @docs-team

backup: next stable state
  pyproject.toml
  src/zilant_prime_core/utils/__init__.py
Owners: none

fix ci: add threats doc and build wheel
  .github/workflows/ci.yml
  docs/THREATS.md
  tools/build_pq_wheels.py
Owners: @docs-team

fix pre-commit fuzz path
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Fix docs mermaid sandbox and tomllib fallback
  docs/Makefile
  docs/conf.py
  pyproject.toml
  requirements.txt
  src/config.py
  tools/render_mermaid.py
Owners: @docs-team

Fix mermaid sandbox and unique artifact names
  .github/workflows/ci.yml
  .github/workflows/zilant-ci.yml
  docs/Makefile
  docs/conf.py
  tools/render_mermaid.py
Owners: @docs-team

cache precommit
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/zilant-ci.yml
Owners: none

ci: add timeouts and simplify matrix
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/zilant-ci.yml
Owners: none

Improve CI concurrency and timeouts
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/zilant-ci.yml
  docs/Makefile
Owners: @docs-team

Add container inspect command
  README.md
  src/container.py
  src/zilant_prime_core/cli.py
  tests/test_container_inspect.py
Owners: @qa-team

Fix mypy errors
  src/key_lifecycle.py
  src/zilant_prime_core/container/unpack.py
  src/zilant_prime_core/utils/qema.py
Owners: none

fix: clarify QAL sign return type
  src/zilant_prime_core/utils/qal.py
Owners: none

Fix Mermaid docs build
  .github/workflows/docs-deploy.yml
  .github/workflows/lint-docs.yml
Owners: none

fix tests by skipping oqs when incomplete
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/packaging.yml
  docs/conf.py
  pyproject.toml
  requirements.txt
  setup.py
  src/zilant_prime_core/utils/auth.py
  tests/chaos/disk_full_test.py
Owners: @docs-team, @qa-team

fix docs build by disabling mermaid sandbox
  docs/Makefile
Owners: @docs-team

sec: add gitleaks scan
  .github/workflows/gitleaks.yml
  .github/workflows/vault-rotate-app-token.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  tasks.md
Owners: none

ci: fix gitleaks artifact
  .github/workflows/gitleaks.yml
Owners: none

ci: install gitleaks before pre-commit
  .github/workflows/quality.yml
  .github/workflows/zilant-ci.yml
Owners: none

ci: fix gitleaks workflow and docs
  .github/workflows/docs-deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint-docs.yml
  .github/workflows/quality.yml
  tasks.md
Owners: none

ci: fix mermaid and gitleaks
  .github/workflows/docs-deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint-docs.yml
  docs/Makefile
Owners: @docs-team

ci: fix gitleaks and mermaid
  .github/workflows/docs-deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint-docs.yml
  docs/Makefile
Owners: @docs-team

refactor: mask secrets in workflow
  .github/workflows/vault-rotate-app-token.yml
Owners: none

ci: add gitleaks secrets scan
  .github/workflows/gitleaks.yml
  .gitleaks.toml
  .pre-commit-config.yaml
Owners: none

ci: use local gitleaks hook
  .gitleaks.toml
  .pre-commit-config.yaml
Owners: none

ci: matrix workflow and pin mermaid
  .github/workflows/ci.yml
  docs/Makefile
Owners: @docs-team

ci: add nightly fuzz workflow
  .github/workflows/fuzz-nightly.yml
Owners: none

ci: upload coverage to codecov
  .github/workflows/ci.yml
Owners: none

ci: run trivy scan on pull requests
  .github/workflows/ci.yml
Owners: none

docs: enable strict mode
  .github/workflows/docs-deploy.yml
  .github/workflows/lint-docs.yml
  docs/Makefile
  docs/conf.py
Owners: @docs-team

docs: note completion of security cleanup
  tasks.md
Owners: none

docs: note matrix CI completion
  .github/workflows/ci.yml
  tasks.md
Owners: none

ci: enable codecov token and fuzz artifacts
  .github/workflows/ci.yml
  .github/workflows/fuzz-nightly.yml
  tasks.md
Owners: none

docs: enable API autodoc and add guides
  docs/api.rst
  docs/conf.py
  docs/how-to/ring_signatures.md
  docs/how-to/tor_proxy.md
  docs/index.rst
  tasks.md
Owners: @docs-team

Cleanup reports and update docs
  .gitignore
  README.md
  bandit-report.txt
  grype-report.json
  sums_a.txt
  sums_b.txt
Owners: none

Add multi-stage Dockerfile and docs deployment
  .github/workflows/docs-deploy.yml
  Dockerfile
  README.md
  security_scan_report.md
Owners: none

Fix docs build
  docs/Makefile
  docs/conf.py
Owners: @docs-team

CODEOWNERS:

# Core
/src/zilant/ @core-team
/src/zilant/metrics.py @observability-team

# GUI
/ui/ @ui-team

# Docs & tests
/docs/ @docs-team
/tests/ @qa-team
