Repository QuantumKeyUYU/zilant-prime-core, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @observability-team, @ui-team, @docs-team, @qa-team

docs: clarify mermaid flag
  .github/workflows/docs-deploy.yml
  README.md
Owners: none

refactor workflows: unify into single CI pipeline
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint-docs.yml
  .github/workflows/quality.yml
  .github/workflows/sbom-cve.yml
  .github/workflows/sbom.yml
  .github/workflows/static-analysis.yml
  .github/workflows/trivy-critical-scan.yml
  .github/workflows/ui-build.yml
  .github/workflows/zilant-ci.yml
Owners: none

🔖 Backup: перед массовыми правками
  .github/workflows/publish-pypi.yml
  .github/workflows/sbom.yml
  conftest.py
  docs/ANONYMITY.md
  docs/ARCH.md
  docs/Makefile
  docs/QUANTUM_SECURITY.md
  docs/THREATS.md
  docs/THREATS.rst
  docs/_static/key_lifecycle.svg
  docs/api/autogen.rst
  docs/api/pq_ring.rst
  docs/api/qal.rst
  docs/api/qvpn.rst
  docs/api/zkqp.rst
  docs/architecture/index.rst
  docs/assets/threat_diagram.svg
  docs/conf.py
  docs/guides/ring_signature_example.rst
  docs/guides/tor_proxy_qvpn.rst
  docs/index.rst
  docs/threats.mmd
  important_files_and_code.txt
  tests/test_cli_commands_extra.py
  tests/test_streaming_aead_extra.py
Owners: @docs-team, @qa-team

Full project update
  demo_secure.py
Owners: none

fix: auto-format by pre-commit
  .github/workflows/quality.yml
  demo_secure.py
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/quality.yml
  .pre-commit-config.yaml
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/quality.yml
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/zilant-ci.yml
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/lint-docs.yml
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/zilant-ci.yml
Owners: none

chore: fix CI (Mermaid sandbox, add THREATS placeholder, build wheels)
  .github/workflows/quality.yml
  .github/workflows/zilant-ci.yml
Owners: none

Add secret scanner and auto changelog
  .github/workflows/changelog.yml
  .github/workflows/dead-code-scan.yml
  .github/workflows/docs-autogen.yml
  .github/workflows/python-security.yml
  .github/workflows/secret-scan.yml
  .github/workflows/static-analysis.yml
  .semgrep/custom/click-prompt-insecure.yml
  .semgrep/custom/container-same-path.yml
  .semgrep/custom/insecure-hash.yml
  .semgrep/custom/pq-key-none.yml
  .semgrep/custom/vdf-invalid-steps.yml
  README.md
  tests/test_semgrep_rules.py
  tools/auto_changelog.py
  tools/dead_code_finder.py
  tools/gen_cli_docs.py
  tools/python_security_checklist.py
  tools/secret_scanner.py
Owners: @qa-team

Add license audit and import graph tools
  .github/workflows/import-graph.yml
  .github/workflows/license-audit.yml
  .github/workflows/todo-scan.yml
  README.md
  tools/import_graph.py
  tools/license_audit.py
  tools/todo_report.py
Owners: none

Fix license audit workflow
  .github/workflows/license-audit.yml
Owners: none

Fix license audit parser to skip invalid lines
  tests/test_license_audit.py
  tools/license_audit.py
Owners: @qa-team

Add comprehensive security suites and policy enforcement
  .github/policies/policy.yaml
  .github/workflows/crypto-threat-model.yml
  .github/workflows/policy-enforcement.yml
  .github/workflows/security-compliance-suite.yml
  README.md
  tools/crypto_threat_model.py
  tools/policy_autofix.py
  tools/policy_validator.py
  tools/security_compliance_suite.py
Owners: none

Generate compliance report and update workflows
  .github/workflows/crypto-threat-model.yml
  .github/workflows/policy-enforcement.yml
  .github/workflows/security-compliance-suite.yml
  CHANGELOG.md
  coverage/coverage.xml
  security_compliance_report.md
  tools/policy_autofix.py
  tools/policy_validator.py
Owners: none

Ensure newline at EOF
  security_compliance_report.md
Owners: none

fix threat model workflow
  .github/workflows/crypto-threat-model.yml
  coverage/coverage.xml
  security_compliance_report.md
Owners: none

fix: ensure newline at end of reports
  CHANGELOG.md
  coverage/coverage.xml
  security_compliance_report.md
  tools/crypto_threat_model.py
  tools/policy_validator.py
  tools/security_compliance_suite.py
Owners: none

Improve decoy cleanup and add fuzz tests
  CHANGELOG.md
  README.md
  src/audit_ledger.py
  src/container.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/utils/decoy.py
  src/zilant_prime_core/utils/secure_logging.py
  tests/test_cli_decoy.py
  tests/test_container_attempts.py
  tests/test_decoy_lifecycle.py
  tests/test_decoy_smoke.py
  tests/test_decoy_vs_real.py
  tests/test_fake_metadata.py
  tests/test_honeypot.py
  tests/test_pack_unpack_fuzz.py
  tests/test_secure_logging_attempts.py
Owners: @qa-team

Fix lint issues and update tests
  src/container.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/utils/decoy.py
  src/zilant_prime_core/utils/secure_logging.py
  tests/test_cli_decoy.py
  tests/test_container_attempts.py
  tests/test_decoy_lifecycle.py
  tests/test_decoy_smoke.py
  tests/test_decoy_vs_real.py
  tests/test_fake_metadata.py
  tests/test_honeypot.py
  tests/test_pack_unpack_fuzz.py
  tests/test_pq_aead.py
  tests/test_secure_logging_attempts.py
Owners: @qa-team

fix: mypy types and test exception strictness for CI
  src/container.py
Owners: none

Full decoy lifecycle coverage: add edge-case tests, fix sweep expiry, 100% coverage
  CHANGELOG.md
  src/zilant_prime_core/utils/decoy.py
  tests/test_decoy.py
  tests/test_expired_decoy.py
Owners: @qa-team

Fix tests and type hints
  .github/workflows/lint-docs.yml
  .github/workflows/zilant-ci.yml
  .pre-commit-config.yaml
  .semgrep/custom/heal-no-rm.yml
  .semgrep/custom/large-wheel.yml
  CHANGELOG.md
  README.md
  docs/conf.py
  docs/guides/self_heal_container.rst
  docs/requirements.txt
  pyproject.toml
  requirements-dev.txt
  src/audit_ledger.py
  src/container.py
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/crypto/fractal_kdf.py
  src/zilant_prime_core/self_heal/__init__.py
  src/zilant_prime_core/self_heal/heal.py
  src/zilant_prime_core/self_heal/monitor.py
  src/zilant_prime_core/self_heal/reaction.py
  src/zilant_prime_core/zkp/__init__.py
  tests/__init__.py
  tests/self_heal/test_auto_heal.py
  tests/self_heal/test_fractal_unique.py
  tests/self_heal2/test_cli_scan_recursive.py
  tests/self_heal2/test_heal_limit_freeze.py
  tests/self_heal2/test_heal_race.py
  tests/self_heal2/test_heal_recovery_key.py
  tests/self_heal2/test_heal_success.py
  tests/self_heal2/test_metadata_defaults.py
  tests/self_heal2/test_zkp_roundtrip.py
Owners: @docs-team, @qa-team

Fix CI configs and add tabulate stubs
  .github/workflows/lint-docs.yml
  .github/workflows/quality.yml
  pyproject.toml
Owners: none

feat: add ZilantFS FUSE mounting support
  README.md
  docs/guides/zilantfs.md
  docs/index.rst
  pyproject.toml
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/py.typed
  src/zilant_prime_core/zilfs.py
  tests/test_zilfs_import.py
Owners: @docs-team, @qa-team

feat: ZilantFS v0.2 -- tree, RO-heal, decoy, CI
  .github/workflows/linux-fuse.yml
  README.md
  docs/guides/zilantfs.md
  pytest.ini
  src/zilant_prime_core/bench_zfs.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/zilfs.py
  tests/test_bench.py
  tests/test_zilfs_import.py
  tests/test_zilfs_tree.py
Owners: @docs-team, @qa-team

feat: ZilantFS v0.3 snapshots and tray
  .github/workflows/fuse.yml
  .github/workflows/linux-fuse.yml
  README.md
  docs/assets/logo.svg
  docs/assets/zilfs_demo.gif
  docs/guides/zilantfs.md
  pyproject.toml
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
  tests/test_zilfs_antiro.py
  tests/test_zilfs_snapshot.py
Owners: @docs-team, @qa-team

feat: ZilantFS v0.4 beta prep
  .github/workflows/fuse.yml
  .github/workflows/release.yml
  README.md
  docs/assets/zilfs_beta.gif
  docs/guides/zilantfs.md
  mobile/android/README.md
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/example/zilant/MainActivity.kt
  mobile/android/build.gradle
  mobile/android/gradle/wrapper/gradle-wrapper.jar
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/settings.gradle
  pyproject.toml
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/decoy_gen.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
  tests/test_adaptive_decoy.py
  tests/test_zilfs_stream_big.py
Owners: @docs-team, @qa-team

feat: prepare ZilantFS v0.4 RC
  .github/workflows/fuse.yml
  QA/RC_checklist.md
  docs/assets/android_poc.png
  docs/guides/zilantfs.md
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/example/zilant/MainActivity.kt
  mobile/android/build.gradle
  mobile/android/settings.gradle
  mobile/android/zilantjni/CMakeLists.txt
  mobile/android/zilantjni/build.gradle
  mobile/android/zilantjni/src/main/cpp/zilant_jni.c
  mobile/android/zilantjni/src/main/java/com/example/zilant/ZilantJNI.kt
  pyproject.toml
  src/zilant_mobile/__init__.py
  src/zilant_mobile/unpack.py
  src/zilant_prime_core/__init__.py
  src/zilant_prime_core/decoy_gen.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zil_mobile_api.c
  tests/test_tray_refresh.py
  tests/test_zstr_header.py
Owners: @docs-team, @qa-team

chore: polish docs and cleanup
  README.md
  docs/ARCH.md
  docs/Makefile
  docs/THREATS.rst
  docs/api/pq_ring.rst
  docs/api/qal.rst
  docs/api/qvpn.rst
  docs/api/zkqp.rst
  docs/conf.py
  docs/guides/self_heal_container.rst
  docs/requirements.txt
  mobile/android/app/build.gradle
  src/zilant_prime_core/tray.py
Owners: @docs-team

chore: polish docs and cleanup
  README.md
  docs/ARCH.md
  docs/Makefile
  docs/THREATS.rst
  docs/api/pq_ring.rst
  docs/api/qal.rst
  docs/api/qvpn.rst
  docs/api/zkqp.rst
  docs/conf.py
  docs/guides/self_heal_container.rst
  docs/requirements.txt
  mobile/android/app/build.gradle
  src/zilant_prime_core/tray.py
Owners: @docs-team

chore: polish release
  .gitignore
  CHANGELOG.md
  README.md
  docs/ARCH.md
  docs/Makefile
  docs/THREATS.rst
  docs/api/pq_ring.rst
  docs/api/qal.rst
  docs/api/qvpn.rst
  docs/api/zkqp.rst
  docs/conf.py
  docs/guides/self_heal_container.rst
  docs/index.rst
  docs/requirements.txt
  mobile/android/README.md
  mobile/android/app/build.gradle
  mobile/android/gradle/wrapper/gradle-wrapper.jar
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/gradlew.bat
  src/zilant_prime_core/tray.py
Owners: @docs-team

chore: handle optional mermaid
  QA/RC_checklist.md
  README.md
  docs/Makefile
  docs/conf.py
  docs/requirements.txt
  src/zilant_mobile/unpack.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/zilfs.py
  tests/test_adaptive_decoy.py
  tests/test_zilfs_antiro.py
  tests/test_zilfs_import.py
  tests/test_zilfs_snapshot.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
  tests/test_zstr_header.py
Owners: @docs-team, @qa-team

fix: CI extras and docs
  .github/workflows/fuse.yml
  CHANGELOG.md
  QA/RC_checklist.md
  docs/guides/zilantfs.md
  pyproject.toml
  src/zilant_mobile/unpack.py
  src/zilant_prime_core/cli.py
  src/zilant_prime_core/tray.py
  src/zilant_prime_core/zilfs.py
  tests/test_adaptive_decoy.py
  tests/test_zilfs_antiro.py
  tests/test_zilfs_import.py
  tests/test_zilfs_snapshot.py
  tests/test_zilfs_stream_big.py
  tests/test_zilfs_tree.py
  tests/test_zstr_header.py
Owners: @docs-team, @qa-team

Fix CI workflows and decoy utils
  docs/guides/zilantfs.md
  pyproject.toml
  src/zilant_prime_core/utils/decoy.py
  src/zilant_prime_core/zilfs.py
Owners: @docs-team

CI: ensure libfuse available on Linux
  .github/workflows/fuse.yml
  CHANGELOG.md
  src/zilant_prime_core/zil_mobile_api.c
Owners: none

chore(ci): fix FUSE install and sshfs path
  .github/workflows/fuse.yml
Owners: none

ci: ignore SSHFS mount failures
  .github/workflows/fuse.yml
Owners: none

CODEOWNERS:

# Core
/src/zilant/ @core-team
/src/zilant/metrics.py @observability-team

# GUI
/ui/ @ui-team

# Docs & tests
/docs/ @docs-team
/tests/ @qa-team
